{
  "Parameters": {
    "CERTBOT_BUCKET": "your_bucket_name",
    "CERTBOT_OBJECT": "certbot_backup.zip",
    "DOMAINS_EMAIL": "your_email@example.com",
    "DOMAINS_LIST": "example.com,subdomain.example.com",
    "CERTS_RENEW_DAYS_BEFORE_EXPIRATION": 30,
    "CERTBOT_ENV": "staging"
  }
}
